* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, footer {
    text-align: center;
}

header {
    background-image: linear-gradient(to right, blue, grey);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    margin: 5px;
}

li {
    margin: 0;
    padding: 0;
}

button {
    border-radius: 5px;
    background-color: #555555;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
}

footer {
    background-image: linear-gradient(to left, blue, grey);
    color: white
}

#display-weather, #display-forecast, #search-area, #search-history {
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin: 2px;
    flex: auto;
}

#display-weather, #display-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#display-forecast {
    max-width: 100%;
}

#search-history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}